<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<script type="text/javascript" src="${pageContext.request.contextPath}/assets/js/jquery/jquery-1.12.4.js"></script>
<title>Test</title>
</head>
<body>

<div id="test">
	<input type="text" name="name" placeholder="이름">
	<input type="text" name="nickname" placeholder="닉네임">
	<input type="text" name="phone" placeholder="번호">
	<button type="submit" id="testButton">등록</button>
</div>

</body>

<script type="text/javascript">

$("#testButton").on("click", function(){
	var name = $("[name='name']").val()
	var nickname = $("[name='nickname']").val()
	var phone = $("[name='phone']").val()
	
	if(name==""){
		alert("이름 입력안됨")
		return false
	}
	
	if(nickname==""){
		alert("닉네임 입력안됨")
		return false
	}
	
	if(phone==""){
		alert("번호 입력안됨")
		return false
	}
	
	
	var info = []
	info.push(name)
	info.push(nickname)
	ifno.push(phone)
	
	
	$.ajax({
		
		url : "${pageContext.request.contextPath }/test/test1",
		type : "post",
		contentType : "application/json",
		data : JSON.stringify(info),
		dataType : "json",
		
		success : function(result){
			if(!confirm("이름: " + result.name)){
				return false
			}
			
			if(!confirm("닉네임: " + result.nickname)){
				return false
			}
			
			if(!confirm("번호: " + result.phone)){
				return flase
			}
			
			alert("테스트 확인 완료")
		}, 
		
		error : function(XHR, status, error) {
			console.error(status + " : " + error)
			
		}
		
	})
	
})


</script>
</html>